---
layout: dualog
---
    <header class="header"></header>
    
    <section class="section py-7">
      <div class="container">

        <h1>Prototypes</h1>
        
        <div class="row">

          {% for prototype in site.prototypes %}
            {% if prototype.alpha %}{% continue %}{% endif %}
            <div class="col-lg-4 mb-6">
              <div class="card p-4 h-100" style="background:#f8f8f8; border-radius:0.5rem;">
                <div class="card-body flex-fill">
                  <div class="p-0 m-0 d-flex">
                    <img class="serviceicon-img mr-4" src="{{prototype.image| replace: "$site_url$", site.url}}" alt="{{prototype.title}}">
                    <div>
                      <h5 class="text-darkblue m-0">{{prototype.title}}</h5>
                      <p>{{prototype.description}}</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer pt-0" style="background:#f8f8f8;">
                  <a class="btn btn-round btn-primary float-right" href="{{site.url}}{{prototype.url}}" title="Test drive">Test drive!</a>
                </div>
              </div>
            </div>
          {% endfor %}

          {% for prototype in site.prototypes %}
            {% if prototype.alpha != true %}{% continue %}{% endif %}
            <div class="col-lg-4 mb-6">
              <div class="card p-4 h-100" style="background:#f8f8f8; border-radius:0.5rem;">
                <div class="card-body flex-fill">
                  <div class="p-0 m-0 d-flex">
                    <img class="serviceicon-img mr-4" src="{{prototype.image| replace: "$site_url$", site.url}}" alt="{{prototype.title}}">
                    <div>
                      <h5 class="text-darkblue m-0">Alpha: {{prototype.title}}</h5>
                      <p>{{prototype.description}}</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer pt-0" style="background:#f8f8f8;">
                  <a class="btn btn-round btn-primary float-right" href="{{site.url}}{{prototype.url}}" title="Sneak peek">Sneak peek!</a>
                </div>
              </div>
            </div>
          {% endfor %}

            
          {% assign last_line = site.prototypes.size | modulo: 3 %}
          {% assign missing = 3 | minus: last_line %}
          {% if site.prototypes.size < 4 %}
            {% assign missing = missing | plus: 3 %}
          {% endif %}
          {% for i in (1..missing) %}
            <div class="col-lg-4 mb-6">
              <div class="card p-4 h-100" style="background:#f8f8f8; border-radius:0.5rem;">
                <div style="height:100pt;"></div>
              </div>
            </div>            
          {% endfor %}
          
        </div>
      </div>
    </section>

    <section class="section py-7">
      <div class="container">

        <h1>Open Source components</h1>

        <div class="row">
          {% for component in site.components %}
            <div class="col-lg-4 mb-6">
              <div class="card p-4 h-100" style="background:#f8f8f8; border-radius:0.5rem;">
                <div class="card-body flex-fill">
                  <div class="p-0 m-0 d-flex">
                    <img class="serviceicon-img mr-4" src="{{component.image}}" alt="Garage TinyTracker">
                    <div>
                      <h5 class="text-darkblue m-0">{{component.title}}</h5>
                      <p>{{component.description}}</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer pt-0" style="background:#f8f8f8;">
                  <a class="btn btn-round btn-primary float-right" href="{{component.site_url}}" title="Explore">Explore!</a>
                </div>
              </div>
            </div>
          {% endfor %}

          {% assign last_line = site.components.size | modulo: 3 %}
          {% assign missing = 3 | minus: last_line %}
          {% if site.components.size < 4 %}
            {% assign missing = missing | plus: 3 %}
          {% endif %}
          {% for i in (1..missing) %}
            <div class="col-lg-4 mb-6">
              <div class="card p-4 h-100" style="background:#f8f8f8; border-radius:0.5rem;">
                <div style="height:100pt;"></div>
              </div>
            </div>            
          {% endfor %}
          
        </div>
        
      </div>
    </section>
